{%extends 'adminnav.html'%}
{%block body%}
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
        crossorigin="anonymous">
  <title>Django Cards</title>
</head>
<body>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">

{#  Single Card Template:#}
  <div class="card" style="width: 18rem; margin: 10px">
    <img src="{%static '/image1.jpg'%}" class="card-img-top">
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h5 class="card-title">Team Lead</h5>
        {#  Colored cirlce:#}
        <div style="
          background: red;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          border-radius: 50%;
        "></div>
      </div>
      <p class="card-text">sai dasarath  We created a web page on agriculture and aquaculture system . I Our website all the pestisides & seeds are available.</p>

    </div>
  </div>
   <div class="card" style="width: 18rem; margin: 10px">
    <img src="{%static '/image2.jpg'%}" class="card-img-top" >
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h5 class="card-title">Team Member</h5>
        {#  Colored cirlce:#}
        <div style="
          background: red;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          border-radius: 50%;
        "></div>
      </div>
      <p class="card-text">PRANATHI  We created a web page on agriculture and aquaculture system . I Our website all the pestisides & seeds are available.</p>

    </div>
  </div>

   <div class="card" style="width: 18rem; margin: 10px">
    <img src="{%static '/image3.jpg'%}" class="card-img-top" >
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h5 class="card-title">Team Member</h5>
        {#  Colored cirlce:#}
        <div style="
          background: red;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          border-radius: 50%;
        "></div>
      </div>
      <p class="card-text">USHA SRI  We created a web page on agriculture and aquaculture system . I Our website all the pestisides & seeds are available.</p>

    </div>
  </div>

</div>

</body>
</html>
{%endblock%}