{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>

</head>
{% block body %}
<div class="col-md-5">
    {% csrf_token %}
  <form action = "{% url 'weather2' %}" method="post">
  {% csrf_token %}
        <div class="form-group" align="center">
            <h1>weather app</h1>
            <label>Enter the Name :</label>
            <input type="text" class="form-control" id = 'cityname' placeholder="Enter Name" name="sname">

            <button type="submit" class="btn btn-default">Submit</button>
        </div>

    </form>
</div>
{% endblock %}
</html>